<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1065129513011-uks63gjrcgkjh7c43u5aljhj8epo6i5f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1065129513011-uks63gjrcgkjh7c43u5aljhj8epo6i5f</string>
	<key>API_KEY</key>
	<string>AIzaSyArhpQKwf5U40va8SSO0iFo7eSQToGoH7E</string>
	<key>GCM_SENDER_ID</key>
	<string>1065129513011</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ameya.mangaFrontend</string>
	<key>PROJECT_ID</key>
	<string>mangaverse-1dc11</string>
	<key>STORAGE_BUCKET</key>
	<string>mangaverse-1dc11.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1065129513011:ios:9e75f54b7c6006d485d346</string>
</dict>
</plist>